{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div id="form-messages"></div>
    <form id="search" action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <input id="search_input" type="text" name="q">
        <input id="submit" type="submit" value="Search">
    </form>

	<div class="counter-container">
        <i class ="fa fa-star"></i>: <span class="counters">0</span>
    </div>
    <table class="table table-dark">
        <thead> <tr>
            <th scope="col"> No</th>
            <th scope="col"> Title</th>
            <th scope="col"> Author(s)</th>
            <th scope="col"> Published date</th>
            <th scope="col">Favourites</th>
        </tr> 
        </thead>
        <tbody id="tbody"></tbody>
    </table>

</div>

{% endblock %}