{% extends 'base.html' %}

{% block content %}

<div class="container">

	<h1 id="status_title">Ada apa hari ini?</h1>
	<form id="form" method="POST" class="post-form" action="{% url 'index' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<input id="submit" type="submit" class="btn btn-primary float-right" value="Mari cerita!">
	</form>

	<h1 id="status_list_title">Daftar Cerita</h1>

	<form method="POST" class="post-form" action="{% url 'hapusStatus' %}">
		{% csrf_token %}
		<input id="erase_status" type="submit" class="btn btn-primary float-right" value="Hapus Semua">
	</form>
	{% for i in daftarStatus %}
	<div>
		<p>{{i.cerita}}</p>
	</div>
	{% endfor %}

</div>

{% endblock %}