{% extends 'base.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h3>Siapa itu Datul?</h3> 
      <p>Datul adalah seorang pembelajar yang akan terus haus akan pengalaman serta ilmu. Datul sangat tertarik dengan hal-hal berbau politik dan sosial, namun memilih Fasilkom  sebagai ilmu yang ditekuni di jalur kuliah. Datul suka indomie dan paling tidak suka kalau tidak memiliki teman yang bisa diajak mengobrol.</p> 
    </div>
    <div class="col-xs-6">
    	<button class="accordion">Kegiatan Sekarang</button>
    	<div class="panel">
    		<p>Calon Anggota Independen DPM Fasilkom UI 2019</p>
    	</div>

        <button id="organisasi" class="accordion">Organisasi</button>
        <div class="panel">
            <p> Ketua Syntax Error 2018
                (Maret 2018 - Oktober 2018)
            </p>
            <p> Staf Departemen Kajian dan Aksi Strategis BEM Fasilkom UI 2018
                (Februari 2018 - Oktober 2018)
            </p>
            <p> Staf Departemen Sosial Politik FUKI Fasilkom UI 2018
                (Februari 2018 - Oktober 2018)
            </p>
        </div>

    	<button class="accordion">Prestasi</button>
    	<div class="panel">
    		<p> 15 Besar Tim FInalis Business Case Competition
                ITB Technopreneur Summit 2018
                (Februari 2018)
            </p>
            <p> Best Participant Sekolah BEM Fasilkom Departemen Kajian dan Aksi Strategis
                (Februari 2018)
            </p>
            <p> NEM UN Tertinggi Tingkat MTs Se-DKI Jakarta
                (2014)
            </p>
    	</div>

    </div>
  </div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

{% endblock %}